<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
<h1>List of Books</h1>
<ul>
    <% books.forEach(book => { %>
        <li>
            <strong><%= book.title %></strong> - <%= book.publishingYear %>
            <form action="/book/delete/<%= book.id %>" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="/book/<%= book.id %>">Details</a>
        </li>
    <% }); %>
</ul>
</body>
</html>