<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
</head>
<body>
<h1>Books</h1>
<% if (books.length === 0) { %>
    <p> Nie znaleziono książek </p>
<% } else { %>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publishing Year</th>
            <th>Author ID</th>
        </tr>
        <% books.forEach(book => { %>
            <tr>
                <td><%= book.id %></td>
                <td><%= book.title %></td>
                <td><%= book.publishingYear %></td>
                <td><%= book.authorId %></td>
            </tr>
        <% }); %>
    </table>
<% } %>
</body>
</html>